/cda/.terraform
/cda/env_svc.json
.terraform/*
*.backup
*.swp
config.sh
override.tf
*_override.tf
*_svc.json
*.out
*.crt
*.key
env_svc.json
tfstate_svc.json
!/environments/*/terraform.tf
!/cda/terraform.tf
!/cda/tfvars/*
!/cda/modules/*
!/cda/variables.tf

#intellij
.idea/